<%include header%>
<% if(entries.lenght){%>
    <% entries.forEach((entry) =>{%>  
        <div class="panel panel-default">
                <div class="panel-heading">
                        <div class="text-muted pull-right">
                            <%= entry.creted %>
                        </div>
                        <%= entry.title %>
                </div>
                <div class="panel-body">
                    <%= entry.body %>
                </div>
        </div>
        <% }) %>
        <% } else {%>
            <p> no hay visitas todavia! <a herf="/new-entry"> Agregar una! </a></p>
        <% } %>   
      <% include footer%>   


                


                    
                    
